<form method="post" action="/cadastrar">
  <input type="text" name="cpf" placeholder="CPF" />
  <input type="text" name="nome" placeholder="NOME" />
  <input type="text" name="sobrenome" placeholder="SOBRENOME" />
  <select name="ano">
    <option></option>
    <option value="1° ano">1° ano</option>
    <option value="2° ano">2° ano</option>
    <option value="3° ano">3° ano</option>
  </select>
  <select name="curso">
    <option></option>
    <option value="Infor">Infor</option>
    <option value="Agro">Agro</option>
    <option value="Adm">Adm</option>
    <option value="Fin">Fin</option>
  </select>
  <select name="area">
    <option></option>
    <option value="lab. Infor">lab. Infor</option>
    <option value="Lab. Línguas">Lab. Línguas</option>
  </select>
  <button type="submit">ENVIAR</button>
</form>